* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

nav .right ul {
    display: flex;
    justify-content: space-around;
}

nav .right ul li {
    list-style: none;
    margin: 0 23px;
}

nav .right ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: transform .3s ease-out;
}

nav .right ul li a:hover {
    color: rgb(153, 153, 226);
    transform: translate(0, -5px);
}

nav .left {
    font-size: 1.5rem;
}

section.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 150px 0px;
}

section.firstsection>div {
    width: 30%;
}

section.firstsection .leftsection {
    width: 50%;
    font-size: 3rem;
    /* margin: 70px 0; */
}

section.firstsection .leftsection .buttons {
    padding: 50px 0;
}

section.firstsection .leftsection .btn {
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

section.firstsection .rightsection img {
    /* some styles */
    width: 80%;
    /* margin: 50px 0; */
}

#element {
    color: rgb(170, 170, 228);
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 95vh;
}

.secondsection h1 {
    font-size: 1.9rem;
}

.secondsection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondsection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 120px;
}

.image-top {
    width: 25px;
    position: relative;
    top: -25px;
    left: -13px;
}

footer {
    background-color: #0e0e1a;
    /* height: 233px; */
}

.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 23px 122px;
}

.footer ul {
    list-style: none;
}

.footer>div {
    width: 223px;
}

footer .footer-rights {
    color: gray;
    text-align: center;
    padding: 11px 0;
}

/* Utilities */

.text-purple {
    color: rgb(170, 107, 228);
}

.text-gray {
    color: gray;
}


main hr {
    border: 0;
    height: 1px;
    background: #9c97f1;
    margin: 60px 84px;
}


.vertical-title {
    position: relative;
    top: 75px;
    width: 175px;
    color: rebeccapurple;
}

.vertical-desc {
    position: relative;
    top: 86px;
    color: grey;
    width: 150px;
    font-size: 9px;
}